<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/home.css') }}"> 
</head>
<!-- templates/home.html -->
{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
    {% if username %}
    <div class="main-text">
        <h1>Hi, {{ username }}!</h1>    
        <h3>Choose Your Work Out</h3>
        <div class="workouts">
            <a href="{{ url_for('weight_lifting') }}">
                <div class="weightlifting" >
                    <h2>Weight Lifting</h2>
                </div>
            </a>
            <a href="{{ url_for('cardio') }}">
                <div class="cardio">
                    <h2>Cardio</h2>
                </div>
            </a>
            <a href="{{ url_for('meditation') }}">
                <div class="medetation">
                    <h2>Meditation</h2>
                </div>
            </a>
        </div>
    </div>

    {% else %}
    <div class="authentication cs-container" >
        <div class="auth-links cs-center">
            <a class="nav-link" href="{{ url_for('login') }}"><button type="button" class="btn btn-primary">Login</button></a>
            <a class="nav-link" href="{{ url_for('signup') }}"><button type="button" class="btn btn-primary">SingUp</button></a>
        </div>
    </div>
    {% endif %}
{% endblock %}


